.Navbar-items{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    justify-content: space-evenly;
    width: 100vw;
    height: 10vh;
    font-weight: 500;
    /* position: fixed; */
    background-color: white;
    align-items: center;
    margin-top: 0;
    /* color: black; */
}
li{
    color: black;
}

.link{
    text-decoration: none;
}

.logo{
    height: 4rem;
    /* margin-left: 3rem; */
}
/* .logo-container{
    margin-left: ;
} */

/* .navbar-container{
    background-color: blue;
} */